<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title><%-title%></title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <script src="jquery/dist/jquery.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  
 </head>
 <body>
    <%-body%>



    <%-scripts%>
  	
</body>
</html>