<%- contentFor('title') %>
	<%=title%>

<%- contentFor('body') %>

<div class="container">
	<form action="" method="post">
		<input type="text" name="name"/>
	</form>
</div>

<%- contentFor('scripts') %>
	<script></script>